<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.lawoffice.db.dao.LawFirmAwardDao">

    <insert id="insert" useGeneratedKeys="true">
        insert into law_firm_has_awards(law_firm_id,award_id)
        values (#{lawFirmId},#{award.awardId})
    </insert>

    <resultMap id="LawFirmAwardResultMap" type="com.solvd.lawoffice.db.bin.Award" autoMapping="false">
        <result column="award_id" property="awardId"/>
        <result column="law_firm_id" property="lawFirmId"/>
    </resultMap>
</mapper>
