<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.law_office.dao.AttorneyRepository">

    <insert id="insert" keyColumn="attorney_id" keyProperty="attorneyId" >
        insert into attorneys(attorney_id,attorney_name,country,city,attorney_law_firm_id)
        values (#{attorney.attorneyId},#{attorney.attorneyName},#{attorney.country},#{attorney.city},#{lawFirmId})
    </insert>

    <sql id="attorneySelect">
        select a.attorney_id, a.attorney_name, a.country,
        l.law_firm_id, l.law_firm_name
        from attorneys a
        left join law_firms l on a.attorney_law_firm_id = l.law_firm_id
    </sql>

    <select id="findById" resultMap="AttorneyResultMap">
        <include refid="attorneySelect"/>
        where attorney_Id = #{attorneyId}
    </select>

    <select id="findByName" resultMap="AttorneyResultMap">
        <include refid="attorneySelect"/>
        where attorney_name = #{attorneyName}
    </select>

    <update id="updateById" >
        UPDATE attorneys SET city = #{attorney.city} WHERE attorney_id = #{attorneyId};
    </update>

    <delete id="deleteById">
        delete * from attorneys where attorney_id = #{attorneyId}
    </delete>

    <resultMap id="AttorneyResultMap" type="com.solvd.law_office.bin.Attorney" autoMapping="false">
        <id column="attorney_id" property="attorneyId"/>
        <result column="attorney_name " property="attorneyName"/>
        <result column="country" property="country"/>
        <result column="city" property="city"/>
        <result column="attorney_law_firm_id" property="lawFirmId"/>
        <collection property="clientIdList"
                    resultMap="com.solvd.law_office.dao.ClientRepository.ClientResultMap"/>
        <collection property="associationBarList"
                    resultMap="com.solvd.law_office.dao.AssociationBarRepository.AssociationBarResultMap"/>
    </resultMap>

</mapper>