<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.law_office.dao.AttorneyAssociationBarRepository">

    <insert id="insert" useGeneratedKeys="true">
        insert into attorney_association_bars(attorney_id,association_bar_id)
        values (#{attorney.attorneyId},#{associationBarId})
    </insert>


    <delete id="deleteById">
        delete from attorney_association_bars where attorney_id = #{attorneyId}
    </delete>

    <resultMap id="AttorneyAssociationBarResultMap" type="com.solvd.law_office.bin.Attorney" autoMapping="false">
        <result column="attorney_id" property="attorneyId"/>
    </resultMap>
</mapper>
