<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.law_office.dao.AttorneyAreaOfPracticeRepository">

    <insert id="insert" useGeneratedKeys="true">
        insert into attorney_area_of_practices(area_of_practice_id,attorney_id)
        values (#{attorney.attorneyId},#{associationBarId})
    </insert>


    <delete id="deleteById">
        delete from attorney_area_of_practices where attorney_id = #{attorneyId}
    </delete>

    <resultMap id="AttorneyAreaOfPracticeResultMap" type="com.solvd.law_office.bin.Attorney" autoMapping="false">
        <result column="attorney_id" property="attorneyId"/>
    </resultMap>
</mapper>
